<!--Larger Devices-->
<div class="hidden-xs" id="parallaxHome">
    <div class="navbarMine">
        <div class="container-fluid navbarInnerContainer">
            <div class="col-xs-12 col-sm-4"><span>Wind-UpDurb</span></div>
            <a class="col-xs-6 col-sm-1 col-sm-offset-6" ui-sref="home">Home</a>
            <a class="col-xs-6 col-sm-1" ui-sref="about">About</a>
        </div>
    </div>

    <div id="homeCard" class="container text-center">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 well">
                <img id="myImage" src="/images/myphoto.jpg" class="img-circle">
                <br>
                <div class="cardMainTextDiv">
                    <span class="cardtextMain">Find here my meditations</span>
                    <br>
                    <span class="cardtextMain">On Javascript, Web Development, and Life</span>
                </div>
                <div class="cardNameDiv">
                    <span class="cardtextMain">-David</span>
                </div>
                <div class="row cardMainTextDiv">
                    <a id="twitterIcon" href="https://twitter.com/WindUpDurb" target="_blank"><i style="color: #00aced" class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                    <a style="margin-right: 15px; margin-top: 4px;" class="githubMark" ng-href="https://github.com/WindUpDurb" target="_blank"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Mobile Devices-->

<div class="visible-xs" id="parallaxHomeXS">
    <div class="navbarMine">
        <div class="text-center container-fluid navbarInnerContainer">
            <div class="col-xs-12 "><span>Wind-UpDurb</span></div>
            <a class="col-xs-12" ui-sref="home">Home</a>
            <a class="col-xs-12 " ui-sref="about">About</a>
        </div>
    </div>

    <div id="homeCard" class="container text-center">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 well">
                <img id="myImage" src="https://lh6.googleusercontent.com/-QO1uRDREI40/AAAAAAAAAAI/AAAAAAAABnE/PfocMJ-4YTI/photo.jpg" class="img-circle">
                <br>
                <div class="cardMainTextDiv">
                    <span class="cardtextMain">Find here my meditations</span>
                    <br>
                    <span class="cardtextMain">On Javascript, Web Development, and Life</span>
                </div>
                <div class="cardNameDiv">
                    <span class="cardtextMain">-David</span>
                </div>
                <div class="row cardMainTextDiv">
                    <a id="twitterIcon" href="https://twitter.com/WindUpDurb" target="_blank"><i style="color: #00aced" class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                    <a style="margin-right: 15px; margin-top: 4px;" class="githubMark" ng-href="https://github.com/WindUpDurb" target="_blank"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">
    <div style="margin-top: 10px;" class="row">
        <div ng-if="olderPosts" class="pull-left">
            <button type="button" ng-click="toggleOlderPosts(olderPosts)" class="btn btn-warning">Newer Posts</button>
        </div>
        <div ng-if="!olderPosts" class="pull-right">
            <button ng-click="toggleOlderPosts(olderPosts)" class="btn btn-warning">Older Posts</button>
        </div>
    </div>
</div>-->


<div class="firstPageContainer container">
    <!--Larger Devices-->
    <div class="hidden-xs row cardEffect rowDivSM">
        <div class="text-center paddingImage col-sm-6 col-lg-4">
            <img class="img-responsive firstPageImage" ng-src={{firstPage.photoHeader}}>
        </div>
        <div class="hidden-xs col-sm-6 col-lg-8 firstPageDetailDiv">
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{firstPage.url}}">{{firstPage.title}}</a></span>
            <br><span class="firstPageIntro">{{firstPage.introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{firstPage.datePosted}}</span>
        </div>
    </div>

    <div class="hidden-xs row rowDivSM">
        <div class="cardEffect col-sm-6 col-lg-4">
            <div class="paddingImage">
                <img ng-src={{pages[0].photoHeader}}>
            </div>
            <br>
            <br>
            <span class="PageTitle"><a ng-href="/#!/writing/{{pages[0].url}}">{{pages[0].title}}</a></span>
            <br><span class="PageIntro">{{pages[0].introduction}}</span>
            <br>
            <span class="PageDate">{{pages[0].datePosted}}</span>
        </div>
        <div class="cardEffect col-sm-6 col-lg-4">
            <div class="paddingImage">
                <img  ng-src={{pages[1].photoHeader}}>
            </div>
            <br>
            <br>
            <span class="PageTitle"><a ng-href="/#!/writing/{{pages[1].url}}">{{pages[1].title}}</a></span>
            <br><span class="PageIntro">{{pages[1].introduction}}</span>
            <br><br><br><br><br><br><br><br>
            <span class="PageDate">{{pages[1].datePosted}}</span>
        </div>
        <div class="cardEffect col-sm-6 col-lg-4">
            <div class="paddingImage">
                <img ng-src={{pages[2].photoHeader}}>
            </div>
            <br>
            <br>
            <span class="PageTitle"><a ng-href="/#!/writing/{{pages[2].url}}">{{pages[2].title}}</a></span>
            <br><span class="PageIntro">{{pages[2].introduction}}</span>
            <br><br><br><br><br><br><br><br><br><br>
            <span class="PageDate">{{pages[2].datePosted}}</span>
        </div>
    </div>
    <div class="hidden-xs row rowDivSM">
        <div class="cardEffect col-sm-6 col-lg-4">
            <div class="paddingImage">
                <img  ng-src={{pages[3].photoHeader}}>
            </div>
            <br>
            <br>
            <span class="PageTitle"><a ng-href="/#!/writing/{{pages[3].url}}">{{pages[3].title}}</a></span>
            <br><span class="PageIntro">{{pages[3].introduction}}</span>
            <br><br><br>
            <span class="PageDate">{{pages[3].datePosted}}</span>
        </div>
        <div class="cardEffect col-sm-6 col-lg-4">
            <div class="paddingImage">
                <img  ng-src={{pages[4].photoHeader}}>
            </div>
            <br>
            <br>
            <span class="PageTitle"><a ng-href="/#!/writing/{{pages[4].url}}">{{pages[4].title}}</a></span>
            <br><span class="PageIntro">{{pages[4].introduction}}</span>
            <br><br><br>
            <span class="PageDate">{{pages[4].datePosted}}</span>
        </div>
        <div class="cardEffect col-sm-6 col-lg-4">
            <div class="paddingImage">
                <img  ng-src={{pages[5].photoHeader}}>
            </div>
            <br>
            <br>
            <span class="PageTitle"><a ng-href="/#!/writing/{{pages[5].url}}">{{pages[5].title}}</a></span>
            <br><span class="PageIntro">{{pages[5].introduction}}</span>
            <br><br><br><br>
            <span class="PageDate">{{pages[5].datePosted}}</span>
        </div>
    </div>

    <!--Mobile Devices-->
    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{firstPage.photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{firstPage.url}}">{{firstPage.title}}</a></span>
            <br><span class="firstPageIntro">{{firstPage.introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{firstPage.datePosted}}</span>
        </div>
    </div>

    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{pages[0].photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{pages[0].url}}">{{pages[0].title}}</a></span>
            <br><span class="firstPageIntro">{{pages[0].introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{pages[0].datePosted}}</span>
        </div>
    </div>

    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{pages[1].photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{pages[1].url}}">{{pages[1].title}}</a></span>
            <br><span class="firstPageIntro">{{pages[1].introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{pages[1].datePosted}}</span>
        </div>
    </div>

    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{pages[2].photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{pages[2].url}}">{{pages[2].title}}</a></span>
            <br><span class="firstPageIntro">{{pages[2].introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{pages[2].datePosted}}</span>
        </div>
    </div>

    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{pages[3].photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{pages[3].url}}">{{pages[3].title}}</a></span>
            <br><span class="firstPageIntro">{{pages[3].introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{pages[3].datePosted}}</span>
        </div>
    </div>

    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{pages[4].photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{pages[4].url}}">{{pages[4].title}}</a></span>
            <br><span class="firstPageIntro">{{pages[4].introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{pages[4].datePosted}}</span>
        </div>
    </div>

    <div class="visible-xs row well">
        <div class="col-xs-9 col-xs-offset-1 firstPageDetailDiv">
            <div class="text-center">
                <img class="img-responsive" ng-src={{pages[5].photoHeader}}>
            </div>
            <br>
            <span class="firstPageTitle"><a ng-href="/#!/writing/{{pages[5].url}}">{{pages[5].title}}</a></span>
            <br><span class="firstPageIntro">{{pages[5].introduction}}</span>
            <br><br><br>
            <span class="firstPageDate">{{pages[5].datePosted}}</span>
        </div>
    </div>

</div>



<!--
<div ng-repeat="essay in currentPages" class="writingblock">
    <div class="writingblockinnercontainer">
        <div style="margin-top: 45px;" class="row">
            <div class="col-xs-6 col-sm-2 col-sm-offset-2">
                <img src="/images/myphoto.jpg" class="img-rounded thumbnailImage">
                <span class="greyText">David Urbina</span>
            </div>
            <div class="col-xs-offset-7 col-sm-offset-10">{{essay.datePosted}}</div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                <h4 style="margin-top: 35px"><a ng-href="/#!/writing/{{essay.url}}">{{essay.title}}</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-7 col-sm-offset-3">
                <p>{{essay.introduction}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-3 col-sm-offset-5">
                <button type="button" ui-sref="writtenPiece({pieceId: '{{essay.url}}' })" style="margin-bottom: 10px; background-color: #FF5722" class="btn btn-primary btn-raised">Read</button>
            </div>
        </div>
        <div style="margin-top: 50px; margin-bottom: 25px"  class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 blockDivider"></div>
        </div>
    </div>
</div>
-->
