<div class="homeHeaderContainer container-fluid">
    <div class="homeheader container">
        <img class="winduphomeheader" src="images/windup-key.png">
        <h1 class="windupdurbheading">Wind-UpDurb</h1>
        <h2 class="homemeditationsheading">Meditations on Javascript, Web Development, and Life</h2>
        <a class="pull-right" href="https://twitter.com/WindUpDurb" target="_blank"><i style="color: #00aced" class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        <a style="margin-right: 15px; margin-top: 4px;" class="githubMark pull-right" ng-href="https://github.com/WindUpDurb" target="_blank"><img src="/GitHub-Mark/PNG/GitHub-Mark-32px.png"></a>
    </div>
</div>

<div class="container">
    <div style="margin-top: 10px;" class="row">
        <div ng-if="!firstPage" class="pull-left">
            <button type="button" ng-click="{{leafThroughPages('next')}}" class="btn btn-warning">Newer Posts</button>
        </div>
        <div ng-if="!lastPage" class="pull-right">
            <button class="btn btn-warning">Older Posts</button>
        </div>
    </div>
</div>

<div ng-repeat="essay in currentPage" class="container writingblock">
    <div class="writingblockinnercontainer">
        <div style="margin-top: 45px;" class="row">
            <div class="col-xs-6 col-sm-2 col-sm-offset-2">
                <img src="/images/myphoto.jpg" class="img-rounded thumbnailImage">
                <span class="greyText">David Urbina</span>
            </div>
            <div class="col-xs-offset-7 col-sm-offset-10">{{essay.datePosted}}</div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-3">
                <h4 style="margin-top: 35px"><a ng-href="/#!/writing/{{essay.url}}">{{essay.title}}</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-3">
                <p>{{essay.introduction}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-4 col-sm-3 col-sm-offset-5">
                <button type="button" ui-sref="writtenPiece({pieceId: '{{essay.url}}' })" style="margin-bottom: 10px; background-color: #FF5722" class="btn btn-primary btn-raised">Read</button>
            </div>

        </div>
        <div style="margin-top: 50px; margin-bottom: 25px"  class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 blockDivider"></div>
        </div>
    </div>
</div>
